[submodule "docs/themes/reveal-hugo"]
	path = docs/themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule "report"]
	path = report
	url = git@github.com:cake-lier/cheese-ontology-report.git
	branch = main
